body{
    background-color:#000000d3;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}

.conteiner{
    width: 1260px;
    margin: 0 auto;
}

a{
    text-decoration: none;

}

.header_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 125px;
}

.button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 10px 0;
    width: 218px;
    border: 1px solid #E4B564;
}

.link{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Circe', sans-serif;
    font-family: 'Circe Extra Light', sans-serif;
    font-family: 'Circe Light', sans-serif;
    font-family: 'Circe Bold', sans-serif;
    padding-left: 10px;
    color: #E4B564;
}

/* .main_block{

} */

.title{
font-family: 'Gilam', sans-serif;
color: #ffffff;
font-weight: 700;
font-size: 50px;
line-height: 28px;
}

.text{
font-family: 'Gilam', sans-serif;
font-weight: 700;
font-size: 20px;
line-height: 28px;
margin: 41px 0;
color: #ffffff;
}

.first_grid_block{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-bottom: 160px;
}

.first_block_item1, .first_block_item2, .first_block_item3, .first_block_item4, .first_block_item5{
    color: #ffffff;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

 .first_block_item1{
    grid-area: 1 / 1 / 2 / 3;
    background-color: #634F2C;
 }

 .first_block_item2{
    grid-area: 1 / 3 / 2 / 5;
    background-color: #B4A385;
 }

 .first_block_item3{
    grid-area: 1 / 5 / 2 / 7;
    background-color: #E4B564;
 }

 .first_block_item4{
    grid-area: 2 / 1 / 3 / 4;
    background-color: #635A4A;
 }

 .first_block_item5{
    grid-area: 2 / 4 / 3 / 7;
    background-color: #B08C4D ;
 }

 .second_grid_block{
    margin-top: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-rows: 255px 58px 126px 129px 305px ;
    grid-template-areas: 
    "first second third"
    "first second sixth"
    "fourth second sixth"
    "fourth fifth sixth"
    "fourth fifth seventh";
    /* gap: 30px; */
    gap: 30px;
    margin-bottom: 190px;
 }
 
.second_block_item1, .second_block_item2, .second_block_item3, .second_block_item4, .second_block_item5, .second_block_item6, .second_block_item7{
    color: #ffffff;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 46px;
    font-weight: 500px;
    font-family: 'Gilam', sans-serif;
}

 .second_block_item1{
    grid-area: first;
    background-color: #0E0E0E;
    height: 344px;
 }

.second_block_item2{
    grid-area: second;
    background-color: #242424;
    height: 497px;
  }

.second_block_item3{
    grid-area: third;
    background-color: #1F1F1F;
    height: 255px;
}

.second_block_item4{
    grid-area: fourth;
    background-color: #1F1F1F;
    height: 534px;
}

.second_block_item5{
    grid-area: fifth;
    background-color: #E4B564;
    color: #0A0909;
    height: 379px;
}

.second_block_item6{
    grid-area: sixth;
    background-color: #0E0E0E;
    height: 367px;
}

.second_block_item7 {
    grid-area: seventh;
    background-color: #0A0909;
    height: 223px;
}

.project_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 72px;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    cursor: pointer;
}

.project1, .project2, .project3, .project4, .project5, .project6 {
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project1{
    background-color: #634F2C;
    grid-area: 1 / 1 / 2 / 2;
}

.project2{
    background-color: #E8D2AB; 
    color: #ffffff;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    font-family: 'Gilam', sans-serif;
    font-weight: 400px;
    text-align: center;
}

.project3{
    background-color: #E4B564;
    grid-area: 1 / 3 / 2 /4;
}

.project4{
    background-color: #635A4A;
    grid-area: 2 / 1 / 3 / 2;
}

.project5{
    background-color: #B08C4D;
    grid-area: 2 / 2 / 3 /3;
}

.project6{
    background-color: #634F2C;
    grid-area: 2 / 3 / 3 / 4;
}

.footer_block{
    margin-bottom: 240px;
}

