html{
    background: url(./images/background1.png) no-repeat center center fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

.header_block{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 18px 80px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.main_title{
    font-style: bold;
    font-size: 22px; 
    line-height: 22px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}

.main_title:hover{
    color: #01813F;
}

.nav_block{
    display: flex;
    align-items: center;
    gap: 25px;
}

.header_svg:hover path{
    fill: #01813F;
}

.welcome_text{
    font-size: 14px;
    line-height: 14px;
    color:#FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    padding-left: 26px;
}

.welcome_link{
    color: #FFFFFF;
}

.colored_welcome_text:hover{
    color: #01813F;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.form_block{
    background: url(./images/Background.png);
    padding: 30px 60px 38px;
    max-width: 444px;
    width: 100%;
    box-sizing: border-box;
    /* position: absolute;
    left: calc(50% - 222px);
    top: calc(50% - 292px + 60px); */
}

.header_form{
    display: flex;
    justify-content: space-between;
}


.sign_up_text{
    font-size: 20px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: 434343;
}

.sign_up_text::before{
    content: " ";
    display: inline-block;
    position: relative;
    right: 60px;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}

.log_in_text{
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #3CB878;
}

.log_in_text:hover, .agree_green_text:hover{
    text-decoration: underline;
    color: #01813F;
}

.social_networks{
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    margin-top: 15px;
}

.button_text{
    font-size: 16px;
    line-height: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

.google_left_padding{
    padding-left: 30px;
}

.facebook_left_padding{
    padding-left: 18px;
}

.facebook_button{
    display: flex;
    background-color: #305DB8;
    border-radius: 4px;
    padding: 10px 22px 10px 13px;
    align-items: center;
}

.facebook_button:hover{
    background-color: #022263;
}

.google_button{
    display: flex;
    background-color: #DF4A32;
    border-radius: 4px;
    padding: 13px 27px 12px 12px;
    align-items: center;
}

.google_button:hover {
    background-color: #AB1F09;
}

.facebook_logo{
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    padding-right: 19px;
}

.google_logo{
    border-right: 1px solid rgba(10, 22, 47, 0.1);
    padding-right: 7px;
}

.or_block{
    display: flex;
    margin-top: 31px;
    margin-bottom: 12px;
    align-items: center;
}

.or_text{
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: #848484;
}

.line1 {
    max-width: 152px;
    width: 100%;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    margin-right: 2px;
}

.line2{
    max-width: 152px;
    width: 100%;
    height: 1px;
    color: #f2f2f2;
    margin-left: 5px;
}


.input_style{
    max-width: 324px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #f2f2f2;
    line-height: 14px;
    font-size: 14px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0 15px 20px;
}


.input_style::placeholder{
    font-size: 14px;
    line-height: 14px;
    color: #bebebe;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 20px;
}

.input_style:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.checkbox_text{
    display: flex;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 20px;
    padding-left: 8px;
}


.agree_green_text{
    color: #3CB878;
}

.create_button{
    max-width: 324px;
    width: 100%;
    padding: 16px 0;
    border: none;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.8);
}

.create_button:hover{
    background-color: #01813F;
}

.create_text{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}

