body{
    font-family: 'Roboto', sans-serif;
    background-image: url(images/background\ 1.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.conteiner{
    width: 1028px;
    margin: 0 auto;
}

.header_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.second {
    display: none;
}

.logo_title:hover .logo_img:nth-of-type(1) {
    display: none;
}

.logo_title:hover .logo_img:nth-of-type(2) {
    display: block;
}

.logo_title:hover .logo_text{
    color: #F26522;
}

.logo_title{
    width: 53px;
    height: 47px;
    display: flex;
    gap: 8px;
    margin-top: 51px;
}

.logo_text {
    color: #fff;
    font-size: 29px;
    line-height: 29px;
    font-weight: 700px;
    text-transform: uppercase;
}

.holidays_logo_text {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700px;
    text-transform: uppercase;
}


.communication{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    gap: 19px;
    text-align: end;
}

.communication_link{
    color: #fff;
    font-weight: 400px;
    line-height: 18px;
    font-size: 18px;
}

.communication_link:hover{
    color: #F26522;
}

.main_content{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 220px);
    gap: 60px;
}

.content_item{
    display: flex;
    flex-direction: column;
}


.hover_content_item{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: end;
    background-color: #F26522;
    width: 300px;
    height: 55px;
    padding-bottom: 12px;
    margin-top: 154px;
    opacity: 0;
} 

.content_item:hover .hover_content_item{
    opacity: 1;
}

.content_item:hover .content_text{
    color: #F26522;
}

.content_text:hover .hover_content_item{
    opacity: 1;
}

.content_text:hover {
    color: #F26522;
}

 .€50_text{
    font-size: 20px;
    line-height: 20px;
    font-weight: 400px;
    color: #fff;
    padding-left: 15px;
}

.€50_text::before{
    content: "from";
    color: #fff;
    display: flex;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}

.View_Details_text{
    font-size: 14px;
    line-height: 14px;
    font-weight: 400px;
    color: #fff;
    padding-right: 15px;
}

.View_Details_text::after{
    content: ">";
    height: 10px;
    width: 5px;
    padding-left: 16px;

}

.content_text{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 400px;
    line-height: 18px;
    margin-top: 20px;
}

.footer_block{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.footer_text{
    color: #fff;
    font-size: 12px;
    font-weight: 400px;
    line-height: 12px;
 }  

